h1,
p {
  font-family: Lato;
}
.btn-d {
  border-color: #5f41b5;
  color: #5f41b5;
}
.btn-d:hover {
  background-color: #5f41b5 !important;
  color: #ffffff;
}

.btn-dd {
  background-color: #5f41b5 !important;
  color: white;
  margin-top: 5px;
}
.container {
  margin-top: 5px;
}
.txt {
  color: #5f41b5;
}
.card {
  border-color: #5f41b5;
}
